<link rel="stylesheet" href="pagina-inicio.page.scss">
<link rel="stylesheet" href="home-a.page.html">
<ion-header>
  <ion-toolbar color="">
    <ion-grid>
    <ion-row>
      <ion-col size="1">
      <ion-buttons>
        <ion-button [routerLink]="['/inicio-sesion']"
          ><ion-icon name="arrow-back-outline"></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-col>
      <ion-col size="9">
          <ion-title class="titulo">home alumno</ion-title>
      </ion-col>


    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
<br>
<br>
<br>

<h1 style="text-align: center;">Bienvenido user</h1>

</ion-content>