<link rel="stylesheet" href="opciones.page.scss">
<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-buttons>
          <ion-button [routerLink]="['/opciones']"><ion-icon name="arrow-back-outline"style="color:#E5A827;"></ion-icon></ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="7">
          <ion-title class="titulo"style="color:#E5A827;">Escanear Qr</ion-title>
      </ion-col>
      <ion-col size="3">
          <ion-label class="tituloesp"style="color:#E5A827;">@docente</ion-label>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<!--CONTENIDO-->
<br><br><br><br><br>
<ion-content style="color:#E5A827;">
    <ion-grid style="color:#E5A827;">
      <ion-row style="color:#E5A827;">
        <ion-col size="6" offset="3" style="color:#E5A827;">
          <ion-card style="color:#E5A827;">
            <ion-card-content style="color:#E5A827;">
              <img src="../../../assets/qr-code PhotoRoom.png" alt="referencia">
            </ion-card-content>
          </ion-card>
        </ion-col>
<ion-content>