@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@700&display=swap');
//*TITULO__________________________________________________________________________________________
.titulo{
  text-transform: capitalize;
  font-family: 'Koh Santepheap', cursive;
}
//SUBTITULO________________________________________________________________________________________
.titulodos{
  text-transform: capitalize;
  font-family: 'Koh Santepheap', cursive;
  font-size: 80%;
}
//ESPECIAL
.tituloesp{
  text-transform: capitalize;
  font-family: 'Koh Santepheap', cursive;
  font-size: 70%;
}