<link rel="stylesheet" href="opciones.page.scss" />
<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-buttons>
            <ion-button [routerLink]="['/home']"
              ><ion-icon name="arrow-back-outline"style="color:#E5A827;"></ion-icon
            ></ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="7">
          <ion-title class="titulo"style="color:#E5A827;">Opciones</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-label class="tituloesp"style="color:#E5A827;">@docente</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br/>
  <!--_____________________________________________________________________________________________-->
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!--Imagen-->
          <ion-col size="6" offset="3">
            <img src="https://i.pinimg.com/originals/df/13/d7/df13d7e7fbcba533b6fe9f01717504e4.png"alt="referencia"/>
          </ion-col>
         <!--Boton-->
        <ion-col size="6" offset="3">
          <ion-button [routerLink]="['/codigo-qr']" size="large" expand="full" class="buttonss" color="success">generar codigo QR</ion-button>
        </ion-col>
        <!--Boton malo-->
        <ion-col size="6" offset="3">
          <ion-button [routerLink]="['/opciones']" size="large" expand="full" class="buttonsds" color="medium">Pasar asistencia manualmente</ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </ion-card-content>
  </ion-card>
  <!--_____________________________________________________________________________________________-->
</ion-content>
