<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="color:#E5A827;">SJ-Solution</ion-title>
  </ion-toolbar>
</ion-header>
<!---->
<link rel="stylesheet" href="inicio-sesion.page.scss">
<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--_____________________________________________________________________________________________-->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="color:#E5A827;">Inicio Sesion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
          <ion-row>
            <!--Botones____________________________________________________________________________-->
            <!--Iniciar sesion Docente-->
            <ion-col size="5" offset="1">
              <ion-item>
                <ion-buttons>
                  <ion-button class="ion-text-capitalize" color="success" [routerLink]="['/home']" style="font-size: 80%;"> Iniciar Docente</ion-button>
                </ion-buttons>
              </ion-item>
            </ion-col>
            <!--Iniciar sesion Alumno-->
            <ion-col size="5" offset="1">
              <ion-item>
                <ion-buttons>
                  <ion-button class="ion-text-capitalize" color="tertiary" [routerLink]="['/home-a']" style="font-size: 80%;">Iniciar Alumno</ion-button>
                </ion-buttons>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--_____________________________________________________________________________________________-->
</ion-content>
