@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@700&display=swap');
//*TITULO__________________________________________________________________________________________
*{
    font-family: 'Koh Santepheap', cursive;
}
.entradastex{
    text-transform: capitalize;
    font-family: 'Koh Santepheap', cursive;
}
.titulo{
  text-transform: capitalize;
  font-family: 'Koh Santepheap', cursive;
}
.olvidepass{
    font-family: 'Koh Santepheap', cursive;
    font-size: 60%;
    text-transform: capitalize;
}